

.nano {
	text-shadow: #eee 0 1px;
}



.small.nano {
	background: #ffa;
	height: 100px;
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	border-radius: 5px;
}

.nano .content {
  padding: 20px;
}



.nano .pane {
  margin: 5px;
}

.nano .slider {
background: #111;
}