 

form.fileupload{
  width:110px;
  float:left;
}

div.upload-box{
  display: block;
  margin: 0 auto !important;
  width: 500px !important;
}


div.file-box{
  
  display:block;
  margin-bottom: 5px;
  height:185px;
  span#attachment_display{
    //@include clearfix;
    clear: both;
    span{
      float: left;
      display:block;
      height:20px;
      float: left;
    }
    strong {
      float:left;
      margin-top: 20px;
    }
  }
}

span.upload-button {
  float:none;
  //@include button(pill);
  background: green;
}

a.upload-button{
   //@include button(pill);
   background: pink;
}

span.upload-button.have-file{
  float:none;
  //@include button(pill,#FCF0BF);  
  background: red;
}